{% extends 'layout.html'%}

{%block content %}
<div class="w3-container w3-light-grey">
    <h3 class="w3-center">add course</h3>
    <p class="w3-center w3-large">Capture the Unseen</p>
    <form action="{{url_for('upload')}}" method="post">
        {{ form.hidden_tag() }}

        {% if form.subject.errors %}

        {% for error in form.subject.errors %}
        <p style="color: red;">{{ form.subject(class="w3-input w3-border",placeholder=error) }}</p>
        {% endfor %}

        {% else %}
        <p>{{ form.subject(class="w3-input w3-border",placeholder="Enter Subject") }}</p>
        {% endif %}

        {% if form.tasksdocs.errors %}

        {% for error in form.tasksdocs.errors %}
        <p style="color: red;">{{ form.tasksdocs(class="w3-input w3-border",placeholder=error) }}</p>
        {% endfor %}

        {% else %}
        <p>{{ form.tasksdocs(class="w3-input w3-border",placeholder="upload") }}</p>
        {% endif %}


        <p>
            {{form.submit(class="w3-button w3-black")}}
        </p>
    </form>

</div>
{%endblock%}