{% extends 'layout.html' %}

{% block content %}

<header class="w3-container" id="home-section" style="background-color: blue; color: white; padding: 48px;">
    <div class="w3-left-align">
        <span class="w3-jumbo w3-hide-small">AUDIO VISUAL LAB</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">AUDIO VISUAL LAB</span><br>
        <span class="w3-large">Capture the unseen</span>
        <p><a href="#about-section" class="w3-btn w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Discover more and get started today</a></p>
    </div>
    <div class="w3-bottom-left w3-text-grey w3-large" style="padding: 24px 48px;">
        <i class="fa fa-facebook w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</header>

{% endblock %}
